{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container newsletter mb-2">
    <div class="row">
        <div class="col">
            <hr>
                <h3 class="case-page text-center mb-4">Subscribe to our newsletter</h3>
            <hr>
        </div>
    </div>
    <form method="POST" style="width: 50%; margin-left: 25%;">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="subscribe-btn" value="Subscribe">
    </form>
</div>
{% endblock %}