/* payment page styling */
.summary {
    width: 80%;
    margin-left: 10%;
}

.pay-img {
    width: 40%;
    height: auto;
}

.stripe-style-input {
    width: 50%;
    margin: 10px 0;
}

.hr-payment {
    height: 1px;
    background-color: #050f56;
}

.description {
    align-items: center;
}

.submit-button {
    height: 40vh;
}