{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="toggler" id="effect">
    <div  class="shout-out col-12 p-2 text-center">
        <p><strong>INTRODUCING THE LATEST IN DRONE TECHNOLOGY</strong></p>
        <h6>Checkout Our Drone Services For More Details</h6>
        <a class="intro-btn btn rounded-1" href="{% url 'services' %}">Drone Services</a>
    </div>
</div>

<div class="col-12 col-md-6">
    <h6>Newsletters</h6>
    <!-- Mailchimp signup form here -->
</div>

{% endblock %}