{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-3 my-auto">
                <h2 id="main-title">
                    THE UAV/DRONE PROPERTY SURVEY COMPANY
                </h2>
            </div>
        </div>
    </div>
{% endblock %}