<form class="contactform mb-5" method="POST">
    {% csrf_token %}
    {{ form.name | as_crispy_field }}
    {{ form.email | as_crispy_field }}
    {{ form.contact_number | as_crispy_field }}
    {{ form.subject | as_crispy_field }}
    {{ form.comment | as_crispy_field }}
    {{ form.actioned | as_crispy_field }}
        
        <button class="contact-btn btn btn-success rounded-1" type="submit">Submit</button>
        <button class="contact-clear-btn btn btn-primary rounded-1" type="reset">Clear Form</button>
    </form>