{% extends "base.html" %}

{% block extra_css %}
{% endblock %}

{% load crispy_forms_tags %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<hr class="w-50">
<h3 class="text-center">Files List</h3>
<hr class="w-50">

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Owner</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td>{{ file.title }}</td>
            <td>{{ file.owner }}</td>
            <td>{{ file.pdf }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}