{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administration.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <hr class="w-50">
    <h3 class="text-center">Completed Project Deliverables</h3>
    <hr class="w-50">
    <form class="text-center mt-5 border" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="btn btn-primary rounded-1 w-25" type="file" name="document">
        <button class="btn btn-primary rounded-1 w-25" type="submit">Upload File</button>
    </form>

    {% if url %}
    <span>Uploaded File: <a target="_blank" href="{{ url }}">{{ url }}</a></span>
    {% endif %}
{% endblock %}