@font-face {
    font-family: 'good_time_rg';
    src: url(static/fonts/good_time_rg.ttf) format('ttf');
}

@font-face {
    font-family: 'goodtime';
    src: url(static/fonts/goodtime.ttf) format('ttf');
}

@font-face {
    font-family: 'nevis';
    src: url(static/fonts/nevis.ttf) format('ttf');
}

html {
    height: 100%;
}

body {
    background: url('/media/drone_pilot.jpg') no-repeat center center fixed;
    background-size: cover;
    color: black;
}

img {
    height: 60px;
}

.logo-icon {
    height: 80px;
}

#topnav {
    background: #050f56
}

#account-options {
    margin-top: 6px;
}

.services {
    color: #050f56;
    text-align: center;
    font-weight: bold;
    margin: 0 150px 0 50px;
}

#our-services-link {
    color: #050f56;
    font-weight: 600;
}

#civil-engineering-link {
    color: #050f56;
}

#external-fire-risk-link {
    color: #050f56;
}

#domestic-commercial-link {
    color: #050f56;
}

.collapse {
    height: 15px;
}

.navbar {
    background-color: #cb9d3f;
}

/* from bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.what-we-do-button {
    background: #cb9d3f;
    color: white;
    min-width: 185px;
    margin-left: -105px;
    margin-top: -30px;
    border-color: #050f56;
}

.btn-black {
    background: #cb9d3f;
    color: white;
}

.what-we-do-button:hover,
.what-we-do-button:active,
.what-we-do-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(149 143 143);
    color: white;
}

#main-title {
    color: #050f56 !important;
    font-weight: 400;
    margin-left: -122px;
}

.border-black {
    border: 1px solid #cb9d3f !important;
}

footer {
    background-color: #050f56;
    color: white;
    height: 40px;

}

.footer-style {
    padding: 0 80px;
}

/* mobile phone styling */
.phoneheader {
    background-color: #cb9d3f;
}

/* services page styling */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #dee3e3;
    z-index: -1;
}

.card-img-top {
    height: 150px;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.card {
    background: #cb9d3f85;
}

.card-footer {
    background: #d4be8c;
}

.btn-primary {
    color: #050f56;
    background-color: #dde3e3;
    border-color: #050f56;
}

.service-container {
    height: 120vh;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 127px;
    }
}

/* Mobile navbar styling on 991px and less */
@media (max-width: 991px) {
    body {
        background: url('/media/drone_pilot4.jpg') no-repeat center center;
        background-size: cover;
        /* background-size: contain; */
        height: 100vh;
    }

    .navbar {
        background-color: #050f56;
    }

    #mobile-search {
        color: white;
    }

    #user-options {
        color: white;
    }

    #briefcase {
        color: white;
    }

    .services {
        color: white;
        text-align: inherit;
    }

    #civil-engineering-link {
        color: white;
    }
    
    #external-fire-risk-link {
        color: white;
    }
    
    #domestic-commercial-link {
        color: white;
    }

    .collapse {
        height: 150px;
    }

    .dropdown-menu.show {
        margin-top: 8px;
        width: 50%;
        padding: 0;
    }

    .dropdown-item {
        color: #050f56;
    }
}
