@font-face {
    font-family: 'good_time_rg';
    src: url(static/fonts/good_time_rg.ttf) format('ttf');
}

@font-face {
    font-family: 'goodtime';
    src: url(static/fonts/goodtime.ttf) format('ttf');
}

@font-face {
    font-family: 'nevis';
    src: url(static/fonts/nevis.ttf) format('ttf');
}

html {
    height: 100%;
}

body {
    background: url('/media/drone_pilot.jpg') no-repeat center center fixed;
    background-size: cover;
    color: black;
}

img {
    height: 60px;
}

.logo-icon {
    height: 80px;
}

/* search feature*/
.form-control {
    color: #cb9d3f;
}

.form-control:hover {
    color: green;
}

#topnav {
    background: #050f56
}

#account-options {
    margin-top: 6px;
}

.collapse {
    height: 15px;
}

.navbar {
    background-color: #cb9d3f;
    height: 40px;
}

/* from bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

#main-title {
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 600;
}

footer {
    background-color: #050f56;
    color: white;
    height: 40px;

}

.footer-style {
    padding: 0 80px;
}

/* mobile phone styling */
.phoneheader {
    background-color: #cb9d3f;
}



/* review cards styling */
.customer-review {
    margin-top: 200px;
}

/* .wrapper {
    padding: 100px;
    margin-top: 500px;
}

.wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: none;
    z-index: -1;
}

.review-text {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}

.text {
    background-color: #cb9d3fd6;
    position: relative;
    padding: 25px;
    min-height: 182px;
    max-height: 182px;
    max-width: 343px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.24);
}

.image img {
    width: 80px;
    height: 80px;
} */

/* .image h4 {
    margin: 10px 0;
    color: #fff;
} */

/* .items {
    margin: 0 25px;
}

.slick-next:before,
.slick-prev:before {
    color: #050f56;
    font-size: 30px;
} */

/* services page styling */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #dee3e3;
    z-index: -1;
}

h2 {
    color: #050f56;
}

.card-img-top {
    height: 150px;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.card {
    background: #cb9d3f85;
}

strong {
    color: #050f56;
}

.card-body p {
    color: #050f56;
}

.card-footer {
    background: #d4be8c;
}

.card-footer p {
    color: #050f56;
    font-weight: bold;
    text-align: center;
}

.card-btns {
    text-align: center;
    color: #050f56;
    border-color: #050f56;
}

.btn-primary {
    color: #050f56;
    background-color: #dde3e3;
    border-color: #050f56;
    padding: 5px;
    width: 40%;
}

.btn-success {
    color: #050f56;
    background-color: #dde3e3;
    border-color: #050f56 !important;
    padding: 5px;
    width: 75%;
}

.service-container {
    height: 150vh;
}

.btn-add-more {
    margin-bottom: 0;
}

/* service_details styling */
.service-detail-name {
    color: #050f56;
    font-weight: bold;
}

.service-detail-desc {
    color: #050f56;
    font-weight: bold;
    margin-bottom: 21px;
}

.qty-box {
    display: contents;
}

/* Briefcase page styling */
.case-page {
    color: #050f56;
}

.lead {
    color: red;
}

.update-qty,
.remove-qty {
    cursor: pointer;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 127px;
    }
}

/* Mobile navbar styling on 991px and less */
@media (max-width: 991px) {
    body {
        background: url('/media/drone_pilot4.jpg') no-repeat center center;
        background-size: cover;
        height: 100vh;
    }

    .navbar {
        background-color: #050f56;
        height: 70px;
    }

    #mobile-search {
        color: white;
    }

    #user-options {
        color: white;
    }

    #briefcase {
        color: white;
    }

    .services {
        color: white;
        text-align: inherit;
    }

    #account-options {
        margin-top: -2px;
        width: auto;
    }

    #civil-engineering-link {
        color: white;
    }
    
    #external-fire-risk-link {
        color: white;
    }
    
    #domestic-commercial-link {
        color: white;
    }

    .collapse {
        height: 150px;
    }

    .dropdown-menu.show {
        margin-top: 8px;
        width: 50%;
        padding: 0;
    }

    .dropdown-item {
        color: #050f56;
    }

    .header-container {
        padding-top: 116px;
        background-color: #cb9d3f;
    }

    #main-title {
        padding-top: 9px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
