@font-face {
    font-family: 'good_time_rg';
    src: url(static/fonts/good_time_rg.ttf) format('ttf');
}

@font-face {
    font-family: 'goodtime';
    src: url(static/fonts/goodtime.ttf) format('ttf');
}

@font-face {
    font-family: 'nevis';
    src: url(static/fonts/nevis.ttf) format('ttf');
}

html {
    height: 100%;
}

body {
    background: url('/media/homepage_img.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
}

/* #main-title {
    font-family: 'nevis'! important;
    color: green;
} */

/* from bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.what-we-do-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.what-we-do-button:hover,
.what-we-do-button:active,
.what-we-do-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }

img {
    height: 50px;
}