/* My Account page styling */
/* Purchase History section */
.purchase-history {
    max-height: 416px;
    overflow-y: auto;
}

.account-form-input {
    width: 100%;
    margin-bottom: 10px;
}

.account-form-input {
    color: #050f56;
}

.account-form-input::placeholder {
    color: #aab7c4;
}

.account-total {
    float: right;
}

.update-btn {
    width: 45%;
}

.clear-btn {
    width: 40%;
}

/* submit & view reviews buttons */

.submit-review-btn a {
    text-decoration: none;
    border: none;
    color: #050f56;
}

.submit-review-btn a:hover {
    color: white;
}

.review-btn {
    width: 100%;
}

.review-btn a {
    text-decoration: none;
    color: #050f56;
}

.review-btn a:hover {
    color: white;
}

/* My Reviews Styling */
.reviews-form {
    width: 50%;
    margin-left: 25%;
}

/* review stars styling */
.customer-review {
    margin-top: 200px;
}

/* hide radio buttons */
.rate > input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate > label {
    float: right;
}

/* showing stars */
.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}

/* styling for half star rating */
.rate .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/*click and hover affect */
input:checked ~ label, label:hover ~ label {
    color: #cb9d3f;
}

input:checked + label:hover,
input:checked ~ label:hover,
input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label {
    color: #cb9d3f;
}