{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'useraccount/css/useraccount.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="row">
        <div class="col-12">
            <hr class="w-75">
            <h3 class="case-page text-center mb-4">My Reviews</h3>
            <hr class="w-75">
        </div>
    </div>

    <div class="row">
        <div class="col-8 mx-auto w-50 mb-5">
            <p>{{service.name}} : {{ service.description }}</p>
            <form action="{% url 'submit_review' service.id %}" method="POST">
               {% csrf_token %}
               <!-- {{ form.as_p }} -->
               {% for field in form %}
                    {% if field.name == 'rating' %}
                        <div class="rate">
                            <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
                            <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
                            <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
                            <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
                            <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
                            <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
                            <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
                            <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
                            <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
                            <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
                        </div>
                    {% elif field.name == 'status' %}
                        {% if request.user.is_staff %}
                            {{ field|as_crispy_field }}
                        {% endif %}
                    {% else %}
                        {{ field|as_crispy_field }}
                    {% endif %}
               {% endfor %}
               
               <button type="submit" class="mt-2 d-block btn btn-success rounded-1 w-25 mx-auto">Submit</button>
            </form>
            <br>
        </div>
    </div>
{% endblock %}