{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'useraccount/css/useraccount.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <hr>
                <h3 class="case-page text-center mb-4">My Account</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <p class="text-muted">Billing Details</p>
                <form class="mt-3" action="{% url 'useraccount' %}" method="POST" id="useraccount-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="update-btn btn btn-success float-left mb-5">Update Form</button>
                    <button class="clear-btn btn btn-success float-right" type="reset">Clear Form</button>
                </form>
            </div>

            <div class="col-12 col-lg-9">
                <p class="text-muted">Purchase History</p>
                <div class="purchase-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th class="account-total">Invoice Total</th>
                                <th>Submit Review</th>
                            </tr>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'purchase_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <ul class="list-unstyled">
                                                {% for item in order.orderitems.all %}
                                                    <li class="small">
                                                       {{ item.service.name }} x {{ item.quantity }}
                                                    </li>
                                                    <li class="small">
                                                        {{ item.service.description }}
                                                     </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td class="account-total">£{{ order.grand_total }}</td>
                                        <td>
                                            {% for item in order.orderitems.all %}
                                            <button class="btn btn-success">
                                                <a href="{% url 'submit_review' item.service.id %}">Submit</a>
                                            </button>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
