<div class="collapse navbar-collapse" id="mainnav">
    <p class="services navbar-nav mr-5 w-auto mx-auto">Our Services</p>        
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link mr-5 text-white" href="#" id="our-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Civil Engineering Structures
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="our-services-link">
                <a href="" class="dropdown-item">Drone Survey with Photos</a>
                <a href="" class="dropdown-item">Drone Survey with Video & Photos</a>
                <a href="" class="dropdown-item">Drone Survey with Videos & Photos with Thermal Imaging</a>
                <a href="" class="dropdown-item">Drone Survey Edited Version & Recommendations of Work</a>
                <a href="" class="dropdown-item">Drone Survey with Surveyor Report</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5 text-white" href="#" id="our-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                External Fire Risk Inspections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="our-services-link">
                <a href="" class="dropdown-item">Drone Survey with Photos</a>
                <a href="" class="dropdown-item ">Drone Survey with Video & Photos</a>
                <a href="" class="dropdown-item ">Drone Survey with Videos & Photos with Thermal Imaging</a>
                <a href="" class="dropdown-item ">Drone Survey Edited Version & Recommendations of Work</a>
                <a href="" class="dropdown-item ">Drone Survey with Surveyor Report</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5 text-white" href="#" id="our-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Domestic & Commercial Surveys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="our-services-link">
                <a href="" class="dropdown-item">Chimney & Roof Inspections</a>
                <a href="" class="dropdown-item ">Roof Inspections All Areas</a>
                <a href="" class="dropdown-item ">Gutter Inspections & Roof</a>
                <a href="" class="dropdown-item ">Dangerous structures Inspections</a>
            </div>
        </li>
    </ul>
</div>