{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h3 class="case-page text-center mb-4">Update Inquiry</h3>
            <hr>
        </div>
    </div>
</div>
<!-- User Contacts Form -->
<div class="form-container mt-5">

    <form class="contactform mb-5" method="POST">
        {% csrf_token %}
        {{ form.name | as_crispy_field }}
        {{ form.email | as_crispy_field }}
        {{ form.contact_number | as_crispy_field }}
        {{ form.subject | as_crispy_field }}
        {{ form.comment | as_crispy_field }}
        {% if request.user.is_superuser %}
            {{ form.actioned | as_crispy_field }}
        {% endif %}

        <button class="contact-btn btn btn-success rounded-1" type="submit">Submit</button>
        <button class="contact-clear-btn btn btn-primary rounded-1" type="reset">Clear Form</button>
    </form>
  </div>
{% endblock %}