{% extends "base.html" %}
{% load static %}
{% load briefcase_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'payment/css/payment.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h3 class="case-page text-center mb-4">Purchase Order</h3>
            <hr>
        </div>
    </div>

    <div class="summary">
        <div class="mb-3 text-center">
            <p><strong>Purchase Summary</strong> ({{ service_count }}) Services</p>
        </div>
        {% for item in briefcase_items %}
        <div class="description text-right d-inline-flex">
            <p class="text-left">{{ item.service.description }}</p>
            <a href="{% url 'service_detail' item.service.id %}">
                {% if item.service.images %}
                <img class="pay-img" src="{{ item.service.images.url }}" alt="{{ service.description }}">
                {% else %}
                <img class="pay-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ service.description }}">
                {% endif %}
            </a>
        </div>
        <div class="mt-4 p-0 col-12 d-inline-flex">
            <p class="col-6 text-left"><strong>Qty: {{ item.quantity }}</strong></p>
            <p class="col-6 text-right"><strong>Subtotal:
                    £{{ item.service.total_price | calc_subtotal2:item.quantity }}</strong></p>
        </div>
        <hr class="hr-payment">
        {% endfor %}
        <div class="row text-right">
            <div class="col-7 offset-2">
                <p class="my-0"><strong>Grand Total:</strong></p>
            </div>
            <div class="col-3 mb-5">
                <p class="my-0"><strong>£{{ grand_total | floatformat:2 }}</strong></p>
            </div>
        </div>
        <hr class="my-0">
        <h3 class="case-page text-center mb-3 mt-3">Please fill in the form below</h3>
        <hr class="my-0">
        <div class="col-12 mt-5">
            <form action="{% url 'payment' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="text-center mb-5">
                    <legend class="fieldset-label px-2 w-100">Invoice Details</legend>
                    {{ form.name | as_crispy_field }}
                    {{ form.email | as_crispy_field }}
                    {{ form.contact_number | as_crispy_field }}
                    {{ form.address1 | as_crispy_field }}
                    {{ form.address2 | as_crispy_field }}
                    {{ form.post_code | as_crispy_field }}
                    {{ form.city | as_crispy_field }}
                    {{ form.county | as_crispy_field }}
                    {{ form.country | as_crispy_field }}
                    <div class="form-check form-check-inline text-center mr-3">
                        {% if user.is_authenticated %}
                        <label for="id-save-info" class="form-check-label">Save invoice details to my profile</label>
                        <input type="checkbox" class="form-check-input ml-1 mr-0" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label for="id-save-info" class="form-check-label">
                            <a class="text-info" href="{% url 'account_login' %}">Login</a> or
                            <a class="text-info" href="{% url 'account_signup' %}">Create Account</a> to save details
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <hr>
                <fieldset class="text-center">
                    <legend class="fieldset-label px-2 w-auto"><strong>Payment</strong></legend>
                    <!-- for the stripe card element -->
                    <div class="mt-4" id="card-element"></div>

                    <!-- to display form errors -->
                    <div class="text-danger w-100 mt-3" id="card-errors" role="alert"></div>

                    <!-- Pass client secret to view to get payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">

                </fieldset>
                
                <div class="submit-button text-center mt-5 mb-2 pb-3">
                    <a class="mb-5 btn btn-primary w-25" href="{% url 'view_briefcase' %}">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Back to Briefcase</span>
                    </a>
                    <button id="submit-button" class="btn btn-success mb-5 w-25">
                        <span>Complete Payment</span>
                        <span class="icon">
                            <i class="fas fa-user-lock"></i>
                        </span>
                    </button>
                    <p class="text-center text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span><strong>Your card will be charged</strong> £{{ grand_total|floatformat:2 }}</span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h3 class="text-light"> Processing Payment <i class="fab fa-cc-stripe"></i></h3>
    <span class="text-light loading-spinner">
        <i class="fas fa-3x fa-sync-alt fa-spin"></i>
    </span>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'payment/js/stripe.js' %}"></script>
{% endblock %}