{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h3 class="case-page text-center mb-4">Services Management</h3>
            <h5 class="text-muted">Add a New Service</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            {{form|crispy}}
        </div>
    </div>
</div>

{% endblock %}

