{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="company_font">Services</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="service-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row service-card">
                    {% for service in services %}
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if service.images %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ service.images.url }}" alt="{{ service.images }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ service.images }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <strong>Service: </strong>
                                    <p class="mb-0">{{ service.name }}</p>
                                    <strong>Includes: </strong>
                                    <p class="mb-0">{{ service.description }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left">£{{ service.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}